In [1]:
import numpy as np
rn = list(np.random.randint(1,200,10))

In [2]:
rn

[17, 87, 90, 186, 85, 122, 60, 94, 198, 139]

In [4]:
type(rn)

list

In [5]:
len(rn)

10

In [9]:
#Ascending order
asc=sorted(rn)
asc

[17, 60, 85, 87, 90, 94, 122, 139, 186, 198]

In [10]:
#descending order
asc[::-1]

[198, 186, 139, 122, 94, 90, 87, 85, 60, 17]

### 2nd program

In [11]:
import numpy as np
import pandas as pd
arr = np.random.randint(1,300,100)

In [12]:
arr

array([ 14,  62, 155, 242, 168, 138, 220, 255, 122,  33,  84, 188, 143,
       168, 117, 233, 280, 262, 102,   6, 178, 282, 176, 138,  31,  11,
        85, 264, 140, 170, 213, 222, 126, 272, 195, 230,  60, 104,  91,
        15, 196,  29, 264,  78,  22,  93, 110,   7,   2,  92, 115,  93,
       217, 218, 226, 267, 208,  24, 145, 285, 160, 262,  89, 263,  97,
       167, 188, 239, 102,  74, 170,   1, 178, 272, 264, 237, 194, 280,
       277, 118,  82, 294, 256, 213, 245, 271,  40, 193, 263,  34,  26,
        36, 226,  28, 156, 190, 241, 144,  74, 129])

In [16]:
arr = arr.reshape(10,10)

In [17]:
df = pd.DataFrame(arr)

In [18]:
df

     0    1    2    3    4    5    6    7    8    9
0   14   62  155  242  168  138  220  255  122   33
1   84  188  143  168  117  233  280  262  102    6
2  178  282  176  138   31   11   85  264  140  170
3  213  222  126  272  195  230   60  104   91   15
4  196   29  264   78   22   93  110    7    2   92
5  115   93  217  218  226  267  208   24  145  285
6  160  262   89  263   97  167  188  239  102   74
7  170    1  178  272  264  237  194  280  277  118
8   82  294  256  213  245  271   40  193  263   34
9   26   36  226   28  156  190  241  144   74  129