In [1]:
import numpy as np
import pandas as pd

rn = np.random.randint(50,100,100)

In [2]:
rn

array([81, 78, 66, 85, 81, 90, 58, 67, 77, 89, 82, 69, 50, 80, 84, 59, 89,
       62, 57, 86, 59, 96, 77, 62, 63, 62, 61, 69, 51, 76, 88, 73, 98, 62,
       79, 77, 67, 52, 77, 82, 72, 82, 58, 53, 72, 96, 60, 80, 53, 76, 82,
       56, 59, 59, 90, 96, 69, 76, 65, 61, 85, 61, 66, 67, 89, 87, 94, 76,
       94, 70, 85, 61, 92, 68, 84, 68, 70, 80, 61, 94, 98, 53, 53, 87, 52,
       78, 58, 82, 77, 63, 54, 80, 64, 70, 71, 96, 65, 72, 54, 97])

In [3]:
rn = rn.reshape(10,10)

In [4]:
df = pd.DataFrame(rn)

In [5]:
df

    0   1   2   3   4   5   6   7   8   9
0  81  78  66  85  81  90  58  67  77  89
1  82  69  50  80  84  59  89  62  57  86
2  59  96  77  62  63  62  61  69  51  76
3  88  73  98  62  79  77  67  52  77  82
4  72  82  58  53  72  96  60  80  53  76
5  82  56  59  59  90  96  69  76  65  61
6  85  61  66  67  89  87  94  76  94  70
7  85  61  92  68  84  68  70  80  61  94
8  98  53  53  87  52  78  58  82  77  63
9  54  80  64  70  71  96  65  72  54  97

In [6]:
df.loc[len(df.index)] = [df[x].sum() for x in range(10)]

In [7]:
df

      0    1    2    3    4    5    6    7    8    9
0    81   78   66   85   81   90   58   67   77   89
1    82   69   50   80   84   59   89   62   57   86
2    59   96   77   62   63   62   61   69   51   76
3    88   73   98   62   79   77   67   52   77   82
4    72   82   58   53   72   96   60   80   53   76
5    82   56   59   59   90   96   69   76   65   61
6    85   61   66   67   89   87   94   76   94   70
7    85   61   92   68   84   68   70   80   61   94
8    98   53   53   87   52   78   58   82   77   63
9    54   80   64   70   71   96   65   72   54   97
10  786  709  683  693  765  809  691  716  666  794

In [8]:
n = int(input())
summ = 0
for x in range(n+1):
    summ = summ+x

print('sum: ',summ)

65
sum:  2145

In [28]:
import numpy as np

TypeError: randint() takes 3 positional arguments but 4 were given